.header {
  display: flex;
  background: var(--secondary-light);
  position: sticky;
  top: 0;
  height: 60px;
  padding: 0px 24px;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;

  .logo {
    transform: scale(0.5);
    transform-origin: top left;
    padding: 20px 0;

    g {
      fill: var(--primary);
    }
  }

  .header-right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 12px;

    .circle-icon {
      padding: 8px;
      display: flex;
      border-radius: 50%;
      transition: all 0.3s ease-in;

      i {
        font-size: xx-large;
        color: var(--primary);
      }

      &:hover {
        cursor: pointer;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
          rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
        transition: all 0.3s ease-in;
        background: var(--primary-light);

        i {
          color: var(--secondary);
        }
      }
    }
  }
}
