.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;

  i {
    font-size: 300%;
    color: var(--primary);
    transition: all 0.3s ease-in-out;

    &:hover {
      transition: all 0.3s ease-in-out;
      cursor: pointer;
      color: var(--secondary);
    }
  }
}
